{% include 'almacen/header_almacen.html' %}

    <main>
        <section class="boton_crearCamiseta">
            <button class="boton_crearCamiseta__boton">
                <a class="boton_crearCamiseta__boton__texto" href="/crearCamiseta">Agregar camiseta nueva</a>
            </button>
        </section>

        <section class="tabla_almacen">
            <table class="tabla_almacen__tabla">
                <thead class="tabla_almacen__contenido">
                    <tr>
                        <th class="tabla_almacen__contenido__titulo__id">
                            #
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Precio
                        </th>
                        <th>
                            Stock
                        </th>
                        <th>
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                    
                    <tr>
                        <td class="tabla_almacen__contenido__id">
                            {{producto[0] }}
                        </td>
                        <td class="tabla_almacen__contenido__nombre">
                            {{producto[1] }}
                        </td>
                        <td class="tabla_almacen__contenido__precio">
                            {{producto[2] }}
                        </td>
                        <td class="tabla_almacen__contenido__stock">
                            {{producto[3] }}
                        </td>
                        <td class="tabla_almacen__contenido__acciones"> 
                            <a href="/modificarCamiseta/{{producto[0]}}">Editar</a> | 
                            <a href="/eliminarCamiseta/{{producto[0]}}">Eliminar</a>
                        </td>
                    </tr>

                    {% endfor %}

                </tbody>
            </table>
        </section>
    </main>

{% include 'almacen/footer_almacen.html' %}
