{% include 'almacen/header_almacen.html' %}
    <section class="seccion_volver">
        <button class="seccion_volver__boton">
            <a class="seccion_volver__boton__texto" href="/almacen">Volver</a>
        </button>
    </section>

    <section class="frame_crearCamiseta">
        <form class="frame_crearCamiseta__formulario" method="post" action="/almacenarCamiseta" enctype="multipart/form-data">
            
            <div class="frame_crearCamiseta__formulario__nombre">
                Nombre:
                <input type="text" name="txtNombre" id="txtNombre">
            </div>
            <br>

            <div class="frame_crearCamiseta__formulario__precio">
                Precio:
                <input type="number" name="txtPrecio" id="txtPrecio">
            </div>
            <br>

            <div class="frame_crearCamiseta__formulario__stock">
                Stock:
                <input type="number" name="txtStock" id="txtStock">
            </div>

            <br>
            <br>
            <div class="frame_crearCamiseta__formulario__submit">
                <input class="frame_crearCamiseta__formulario__submit__texto" type="submit" value="Agregar">
            </div>
        </form>
    </section>

{% include 'almacen/footer_almacen.html' %}