:root {
    --primario: #9c27b0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233,287,2);
    --blanco: #fff;
    --negro: #000;

    --fuentePpal: 'Titillium Web', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/** Globales **/
body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}
p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
a {
    text-decoration: none;

}
img {
    max-width: 100%;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
h1,h2,h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePpal);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}

/** Header **/

.header {
    display: flex;
    justify-content: center;
}
.header__logo {
    margin: 3rem 0;
}

/** Footer **/

.footer {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__texto {
    text-align: center;
    font-family: var(--fuentePpal);
    font-size: 2.2rem;
}
/** Navegacion **/

.navegacion {
    background-color: var(--primarioOscuro);
    padding: 0.8rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.navegacion__enlace {
    font-family: var(--fuentePpal);
    color: var(--blanco);
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
}
.navegacion__enlace2 {
    font-family: var(--fuentePpal);
    color: var(--blanco);
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 12rem;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--secundario);
}

.navegacion__enlace--activo--especial {
    color: grey;
}

/** Grid **/
.grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    
}
@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3,1fr);
    }
}


/** Productos **/

.producto {
    background-color: var(--primarioOscuro);
    padding: 1rem;
    text-align: center;

}
.producto__imagen {
    width: 100%;

}

.producto__nombre {
    font-size: 4rem;
    color: var(--blanco);
}
.producto__nombre:hover {
    color: var(--secundario);
}


.producto__precio {
    font-size: 2.8rem;
    color: var(--secundario);
    font-weight: bold;
}
.producto__nombre,
.producto__precio {
    font-family: var(--fuentePpal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/** GRAFICO **/

.grafico {
    min-height: 30rem;
    grid-column: 1/3;
}
.grafico--camisas {
    grid-row: 2/3;
    background-image: url(/static/img/grafico1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.grafico--node {
    background-image: url(/static/img/grafico2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 8/9;
}
@media (min-width: 768px) {
    .grafico--node {
        grid-row: 5/6;
        grid-column: 2/4;

    }
}

/** Informacion Nosotros **/
.informacion {
    display: grid;
    grid-template-rows: repeat(2, auto);

}
@media (min-width: 768px ){
    .informacion {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

}

.informacion__imagen {
    grid-row: 1/2;
    width: 100%;
}
@media (min-width: 768px) {
    .informacion__imagen {
        grid-column: 2/3;
    }
}

/** BLOQUES **/
.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .bloques {
        grid-template-columns: repeat(4, 1fr);
    }
}

.bloque {
    text-align: center;
}
.bloque__titulo {
    margin: 0;
}
.bloque__imagen {
    width: 100%;
}

/** Pagina del Productro **/
@media (min-width: 768px) {
    .camisa {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}
.camisa__imagen {
    width: 100%;
    grid-column: 1/2;
}
.camisa h2 {
    grid-column: 2/3;
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.formulario__campo {
    border-color: var(--primarioOscuro);
    border-width: 1rem;
    border-style: solid;
    background-color: transparent;
    color: var(--blanco);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    appearance: none;
}
.formulario__submit {
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: var(--fuentePpal);
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1/3;
}
.formulario__submit:hover {
    cursor: pointer;
    background-color: var(--primarioOscuro);
}


/** ALMACEN **/

.boton_crearCamiseta {
    display: flex;
    padding: 2rem;
}
.boton_crearCamiseta__boton {
    border: none;
    background-color: var(--secundario);
    padding: 1.1rem;
    border-radius: 0.9rem;
    border: 2px solid var(--negro);
}
.boton_crearCamiseta__boton a {
    color: var(--negro);
    font-weight: bold;
    font-family: var(--fuentePpal);
}
.boton_crearCamiseta__boton__texto:hover {
    color: var(--primarioOscuro);
}
.tabla_almacen {
    display: flex;
    justify-content: center;
    padding: 0 10rem;
}
.tabla_almacen__tabla{
    margin: 0 auto;
}
.tabla_almacen__contenido__titulo__id {
    text-align: left;
}
.tabla_almacen__contenido__id {
    margin-left: 5rem;
}
.tabla_almacen__contenido__nombre {
    font-weight: bold;
    font-family: var(--fuentePpal);
}
.tabla_almacen__contenido__precio {
    font-weight: bold;
    font-family: var(--fuentePpal);
}
.tabla_almacen__contenido__stock {
    font-family: var(--fuentePpal);

}
.tabla_almacen__contenido__acciones {
    font-weight: bold;
    font-family: var(--fuentePpal);
    text-decoration: none;
    text-transform: uppercase;
    color: var(--blanco);
}


/** ALMACEN ---- CREAR/EDITAR    CAMISETA **/

.frame_crearCamiseta {
    display: grid;
}
.frame_crearCamiseta__formulario {
    margin: 5rem auto 0 auto;
    padding: 2rem 5rem;
    border: 4px solid black;
    background-color: var(--blanco);
    border-radius: .8rem;

}
.frame_crearCamiseta__formulario__id {
    padding: .5rem;
    font-weight: bold;
}
.frame_crearCamiseta__formulario__nombre {
    padding: .5rem;
    font-weight: bold;
}
.frame_crearCamiseta__formulario__precio {
    padding: .5rem;
    font-weight: bold;
}
.frame_crearCamiseta__formulario__stock {
    padding: .5rem;
    font-weight: bold;
}
.frame_crearCamiseta__formulario__submit__texto {
    padding: .9rem;
    border-radius: 0.9rem;
    border: none;   
    background-color: var(--secundario);
    margin-left: 8rem;
    font-size: 20px;
    font-weight: bold;
    color: var(--negro);
    font-family: var(--fuentePpal);
    text-transform: uppercase;

}
.frame_crearCamiseta__formulario__submit__texto:hover {
    cursor: pointer;
    background-color: var(--negro);
    color: var(--blanco);
}

.seccion_volver {
    padding: 1.4rem;
}
.seccion_volver__boton {
    padding: 1.4rem;
    border: 2px solid var(--negro);
    background-color: var(--secundario);
    border-radius: 0.9rem;
    
}
.seccion_volver__boton__texto {
    font-size: 20px;
    font-family: var(--fuentePpal);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--negro);
}
.seccion_volver__boton__texto:hover {
    color: var(--primarioOscuro);
}



/** SOMBRA **/
.sombra {
    -webkit-box-shadow: -34px 13px 97px 11px rgba(0,0,0,0.54);
    -moz-box-shadow: -34px 13px 97px 11px rgba(0,0,0,0.54);
    box-shadow: -34px 13px 97px 11px rgba(0,0,0,0.54);
}