<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/app.css">
    <link rel="stylesheet" type="text/css" href="static/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="static/css/foundation.min.css">

    <!-- enlace a la hoja de estilos -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    
     <!-- enlaces a los archivos de JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <title>Enciclopedia Futbolística</title>
</head>
<body>

    <header>
        <div class="hero-section">
            <div class="hero-section-text">
              <h1>Enciclopedia Futbolística</h1>
              <h5>Todo sobre el fútbol actual</h5>
            </div>
          </div>
    </header>

    <main>
      <section>
          <nav class="barra_navegacion">
            <ul class="menu menu-hover-lines">
                <li class="active"><a href="#">Inicio</a></li>
                <li><a href="#">Idolos</a></li>
                <li><a href="#">Premios</a></li>
                <li><a href="#">Sobre mí</a></li>
              </ul>    
          </nav>    
      </section>

      <section class='flotante'>

        <div class="imagen">
          <img src="static/img/cristiano_ronaldo.png" alt="Imagen de Cristiano Ronaldo dos Santos Aveiro">
        </div>
        
      
      </section>   
            

      
    </main>
    

    <script>
      $(window).scroll(function() {
        var alturaVentana = $(window).height();
        var alturaSeccion = $('.seccion').outerHeight();
        var scroll = $(window).scrollTop();
        var distanciaHastaSeccion = $('.seccion').offset().top - alturaVentana;
  
        if (scroll > distanciaHastaSeccion && scroll < distanciaHastaSeccion + alturaSeccion) {
          $('.imagen img').addClass('mostrar');
        } else {
          $('.imagen img').removeClass('mostrar');
        }
      });
    </script>

</body>
</html>