<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camisetas Frontend Store</title>
    <link rel="stylesheet" href="static/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
    <header class="header">
        <a href="/" class="header__logo">
            <img src="static/img/logo.png" alt="Logotipo">
        </a>
    </header>
    
    <nav class="navegacion">
        <a class="navegacion__enlace navegacion__enlace--activo" href="/retornar_inicio">Tienda</a>
        <a class="navegacion__enlace" href="/pagina_nosotros">Nosotros</a>
        <a class="navegacion__enlace" href="/almacen">Almacen</a>
    </nav>

    <main class="contenedor">
        <h1>Nuestros Productos</h1>

        <div class="grid">
            <div class="producto">
                <img class="producto__imagen" src="/static/img/1.jpg" alt="imagen camisa">
                <div class="producto__informacion">
                    <a class="producto__nombre" href="/comprar_camisa1">Vue JS</a>
                    <p class="producto__precio">19.99€</p>
                </div>
            </div>  <!--.producto-->

            <div class="producto">
                <img class="producto__imagen" src="/static/img/2.jpg" alt="imagen camisa">
                <div class="producto__informacion">
                    <a class="producto__nombre" href="/comprar_camisa2">Angular</a>
                    <p class="producto__precio">19.99€</p>
                </div>
            </div>  <!--.producto-->

            <div class="producto">
                <img class="producto__imagen" src="/static/img/3.jpg" alt="imagen camisa">
                <div class="producto__informacion">
                    <a class="producto__nombre" href="/comprar_camisa3">React</a>
                    <p class="producto__precio">19.99€</p>
                </div>
            </div>  <!--.producto-->

            <div class="producto">
                <img class="producto__imagen" src="/static/img/4.jpg" alt="imagen camisa">
                <div class="producto__informacion">
                    <a class="producto__nombre" href="/comprar_camisa4">Redux</a>
                    <p class="producto__precio">19.99€</p>
                </div>
            </div>  <!--.producto-->

            <div class="producto">
                <img class="producto__imagen" src="/static/img/5.jpg" alt="imagen camisa">
                <div class="producto__informacion">
                    <a class="producto__nombre" href="/comprar_camisa5">NodeJS</a>
                    <p class="producto__precio">19.99€</p>
                </div>
            </div>  <!--.producto-->

            <div class="producto">
                <img class="producto__imagen" src="/static/img/6.jpg" alt="imagen camisa">
                <div class="producto__informacion">
                    <a class="producto__nombre" href="/comprar_camisa6">SASS</a>
                    <p class="producto__precio">19.99€</p>
                </div>
            </div>  <!--.producto-->

            <div class="producto">
                <img class="producto__imagen" src="/static/img/7.jpg" alt="imagen camisa">
                <div class="producto__informacion">
                    <a class="producto__nombre" href="/comprar_camisa7">HTML5</a>
                    <p class="producto__precio">19.99€</p>
                </div>
            </div>  <!--.producto-->

            <div class="producto">
                <img class="producto__imagen" src="/static/img/8.jpg" alt="imagen camisa">
                <div class="producto__informacion">
                    <a class="producto__nombre" href="/comprar_camisa8">GitHub</a>
                    <p class="producto__precio">19.99€</p>
                </div>
            </div>  <!--.producto-->

            <div class="producto">
                <img class="producto__imagen" src="/static/img/9.jpg" alt="imagen camisa">
                <div class="producto__informacion">
                    <a class="producto__nombre" href="/comprar_camisa9">BulmaCSS</a>
                    <p class="producto__precio">19.99€</p>
                </div>
            </div>  <!--.producto-->

            <div class="producto">
                <img class="producto__imagen" src="/static/img/10.jpg" alt="imagen camisa">
                <div class="producto__informacion">
                    <a class="producto__nombre" href="/comprar_camisa10">TypeScript</a>
                    <p class="producto__precio">19.99€</p>
                </div>
            </div>  <!--.producto-->

            <div class="producto">
                <img class="producto__imagen" src="/static/img/11.jpg" alt="imagen camisa">
                <div class="producto__informacion">
                    <a class="producto__nombre" href="/comprar_camisa11">Drupal</a>
                    <p class="producto__precio">19.99€</p>
                </div>
            </div>  <!--.producto-->

            <div class="producto">
                <img class="producto__imagen" src="/static/img/12.jpg" alt="imagen camisa">
                <div class="producto__informacion">
                    <a class="producto__nombre" href="/comprar_camisa12">JavaScript</a>
                    <p class="producto__precio">19.99€</p>
                </div>
            </div>  <!--.producto-->

            <div class="producto">
                <img class="producto__imagen" src="/static/img/13.jpg" alt="imagen camisa">
                <div class="producto__informacion">
                    <a class="producto__nombre" href="/comprar_camisa13">GraphQL</a>
                    <p class="producto__precio">19.99€</p>
                </div>
            </div>  <!--.producto-->

            <div class="producto">
                <img class="producto__imagen" src="/static/img/14.jpg" alt="imagen camisa">
                <div class="producto__informacion">
                    <a class="producto__nombre" href="/comprar_camisa14">WordPress</a>
                    <p class="producto__precio">19.99€</p>
                </div>
            </div>  <!--.producto-->

            <div class="grafico grafico--camisas"></div>
            <div class="grafico grafico--node"></div>

        </div>
    </main>


    
    <footer class="footer">
        <p class="footer__texto">Front End Store - Todos los derechos reservados 2022.</p>
    </footer>
</body>
</html>